# -----------------------------
# Git
# -----------------------------
.git
.gitignore

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.venv
env/
venv/

# -----------------------------
# dbt
# -----------------------------
dbt/dbt_packages/
dbt/package-lock.yml
dbt/target/
dbt/logs/

# -----------------------------
# OS
# -----------------------------
.DS_Store
Thumbs.db
