SOURCE_DB_USER=postgres
SOURCE_DB_PASSWORD=postgres
SOURCE_DB_HOST=localhost
SOURCE_DB_PORT=5433
SOURCE_DB_NAME=retail_inventory

TARGET_DB_USER=postgres
TARGET_DB_PASSWORD=postgres
TARGET_DB_HOST=localhost
TARGET_DB_PORT=5434
TARGET_DB_NAME=retail_warehouse
