SERVICE_BUS_CONNECTION_STRING=Endpoint=sb://localhost;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=SAS_KEY_VALUE=;UseDevelopmentEmulator=true;
SERVICE_BUS_TOPIC=retail.events
SERVICE_BUS_SUBSCRIPTION=analytics-sub
MAX_RETRIES=3

WAREHOUSE_DB_HOST=localhost
WAREHOUSE_DB_PORT=5434
WAREHOUSE_DB_NAME=retail_warehouse
WAREHOUSE_DB_USER=postgres
WAREHOUSE_DB_PASSWORD=postgres
